<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iotworkshop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iotworkshop.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iotworkshop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$iotworkshop</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cliqmu3br1.database.windows.net,1433;Initial Catalog=IotWorkshopDB;Integrated Security=False;User ID=dxslo@cliqmu3br1;Password=Pa$$w0rd1;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Iot.Data.EF.IotContext, Iot.Data.EF" MigrationConfiguration="Iot.Data.EF.Migrations.Configuration, Iot.Data.EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableADPublish>false</EnableADPublish>
    <ADDomain>iotworkshopslo.onmicrosoft.com</ADDomain>
    <ADAppIDUri>https://iotworkshopslo.onmicrosoft.com/WebApp-iotworkshop.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>28d47512-5fba-4546-b1f7-c0ba2ab0a320</ADClientAPPID>
    <ADClientPassword>dvviO8ZZ5Y52Ow4KmJd0Po7bFb5+x3vGqHE/tuYfo5Q=</ADClientPassword>
    <ADReplyUrl>https://iotworkshop.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>447070bc-7927-4553-9ec4-b9e6c4fa1c35</ADTenantId>
    <ADPostLogoutRedirectUri>https://iotworkshop.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cliqmu3br1.database.windows.net,1433;Initial Catalog=IotWorkshopDB;Integrated Security=False;User ID=dxslo@cliqmu3br1;Password=Pa$$w0rd1;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>