@{
    ViewBag.Title = "IOT workshop >> Administration";
}

<div class="col-md-12">
    <div class="page-header">
        <h2>
            Administration
            <small>use below option to begin with administrative tasks</small>
        </h2>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <div class="panel-info">
            <div class="panel-heading">
                <a href="@Url.Action("Devices")" class="linkStart">
                    Devices administration
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </a>
            </div>
            <div class="panel-body">
                <p>
                    It enables you to edit / add devices, report devices, push notifiying users and
                    export all the data to various formats.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-info">
            <div class="panel-heading">
                <a href="@Url.Action("Devices")" class="linkStart">
                    Items administration
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </a>
            </div>
            <div class="panel-body">
                <p>
                    This enables you to check items, create reports, send data via email, push notify all the user and
                    to edit / delete or add new item to be able to check it, if it works.
                </p>
            </div>
        </div>
    </div>
</div>
